@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
    background-image: url("background.png");
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0px;
}
.title{
    padding-top: 150px;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 96px;
    font-family:"Inter", serif;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 175px;
}

.buttons button {
    background-color: white;
    padding: 30px;
    width: 300px;
    font-size: 30px;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}
.buttons button:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}
.amtitle{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.paragraph{
    width: 600px;
    margin: auto;
    color: rgb(0, 0, 0);
    font-family: "Inter", serif;
    padding-bottom: 300px;
    text-shadow: 15px;
}
.title3{
    padding-top: 35px;
    display: flex;
    justify-content: center;
}
.bbtn{
    position: relative;
    left: 75px;
    bottom: 55px;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 15px;
    border-color: black;
    transition: all 0.2s ease;
    cursor: pointer;
}
.bbtn:hover{
    transition: all 0.2s ease;
    transform: scale(1.1);
}
.ctitle{
    padding-top: 35px;
    display: flex;
    justify-content: center;
}
.gmail{
    font-family: "Inter", serif;
    align-items: center;
    width: 250px;
    height: auto;
    padding: 150px;
    text-align: center;
}
.gmail img{
    width: 250px;
    height: 250px;
}
.github{
    font-family: "Inter", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: auto;
    padding: 150px;
    text-align: center;
}
.github img{
    width: 250px;
    height: auto;
}
.instagram{
    font-family: "Inter", serif;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 150px;
    height: auto;
    padding: 150px;
    text-align: center;
}
.instagram img{
    width: 250px;
    height: auto;
}
.row{
    display: flex;
    flex-direction: row;
    margin: auto;
}